:root {
    /* b-e__m */
  
    /* Colors */
    --orange-cafe: #ff902b;
    --orange-chestnut: #2f2105;
    --orange-accents: #f9d9aa;
    --orange-accents_light: #F6EBDA;
  
    --orange-tag: #FFD28F;
  
  
    --text-dark: #1D1D1D;
  
    --btn-primary: #fff;
    --btn-secondary: #F4AE26;
  
  
    --gray-light: #7e7d7a;
  
    /* Fonts*/
    --font-primary: "Poppins", sans-serif;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Works on Firefox */
    scrollbar-width: thin;
    scrollbar-color: var(--orange-cafe) var(--orange-accents_light);
  }
  
  html {
    font-size: 10px;
    font-family: var(--font-primary);
  }

  
  /* Works on Chrome, Edge, and Safari */
  body::-webkit-scrollbar {
    width: 1rem;
  }
  
  body::-webkit-scrollbar-track {
    background-color: var(--orange-accents_light);
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--orange-cafe);
  }
  
  
  
  /* Buttons */
  
  .btn__primary,
  .btn__secondary {
    font-size: 1.2rem;
    line-height: 1.8rem;
    padding: .8rem 1.6rem;
    font-weight: 600;
    padding: .8rem 1.6rem;
    border-radius: 3.2rem;
    text-decoration: none;
    transition: color .4s ease-in-out;
    display: inline-flex;
  }
  
  .btn__primary {
    box-shadow: 0px 4px 32px rgba(223, 195, 124, 0.25);
    border: .2rem solid var(--orange-chestnut);
    background-color: var(--orange-chestnut);
    color: #fff;
  }
  
  .btn__primary:hover,
  .btn__primary:active,
  .btn__primary:focus {
    color: var(--btn-secondary);
    transition: color .2s ease-in-out;
  }
  
  .btn__primary--icon {
    padding: 1.2rem 6.4rem 1.2rem 3.2rem;
  }
  
  .btn__secondary {
    border: .2rem solid transparent;
    color: #F4AE26;
    transition: color .4s ease-in;
  }
  
  .btn__secondary:hover,
  .btn__secondary:active,
  .btn__secondary:focus {
    border: .2rem solid var(--orange-cafe);
    color: var(--orange-cafe);
    transition: color .2s ease-in-out;
  }
  
  /* Buttons */
  
  /* Titles*/
  
  h2 {
    font-size: 3.2rem;
    line-height: 4.8rem;
    font-weight: 600;
    /* padding: 0 2rem; */
    color: var(--text-dark);
  }
  
  h2 > span {
    position: relative;
    display: inline-flex;
  }
  
  h2 > span::before {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: var(--orange-cafe);
    border-radius: 1.2rem;
    height: .4rem;
    width: 100%;
  }
  
  /* Titles */
  
  
  
  
  
  
  
  
  
  
  /* Start Popular Section */
  
  .section__popular {
    /* background-color: var(--orange-accents_light); */
    position: relative;
    overflow-x: clip;
  }
  
  .section__popular::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    background-color: var(--orange-accents_light);
    height: 36rem;
    width: 100%;
    
  }
  
  .section__popular--cards-bg {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  
  
  .section__popular--container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 4rem 0 2rem 0;
    position: relative;
  }
  
  .section__popular--container::before {
    content: "";
    /* display: none; */
    background: url(../images/bg_img_hero.png) no-repeat;
    position: absolute;
    top: -7rem;
    left: -12.4rem;
    width: 55.9rem;
    height: 39.4rem;
  }
  
  
  .section__popular--container h2 {
    padding: 0 2rem;
  }
  
  
  .section__popular--cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.2rem;
    padding: 4rem 4rem 8rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    position: relative;
    z-index: 3;
  }
  
  
  
  
  
  
  .section__popular--card {
    width: 34.3rem;
    height: 37.3rem;
    border-radius: 1.2rem;
    padding: 2.4rem 1.8rem;
    scroll-snap-align: center;
    background-color: #fff;
    position: relative;
    z-index: 1;
  }
  
  .section__popular--card::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 35.5rem;
    height: 38.5rem;
    left: -.6rem;
    top: -.6rem;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.7) 100%);
    backdrop-filter: blur(.2rem);
    border-radius: 1.2rem;
    filter: drop-shadow(4px 4px 20px rgba(0, 0, 0, 0.25));
  }
  
  
  
  .section__popular--card-picture {
    position: relative;
    padding-bottom: 1.2rem;
  }
  
  .section__popular--card-picture img {
    width: 100%;
    border-radius: 1.2rem;
  }
  
  .section__popular--card-score {
  
    /* padding: .6rem 1.2rem; */
    padding: .4rem;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.4) 100%, rgba(255, 255, 255, 0.4) 100%);
    backdrop-filter: blur(2px);
    border-radius: 27px;
    position: absolute;
    top: .8rem;
    left: 1rem;
  
  }
  
  .section__popular--card-score span {
    display: inline-flex;
    font-size: 1.4rem;
    line-height: 2.1rem;
    font-weight: 700;
    letter-spacing: 0.04em;
    background: #FFFFFF;
    border-radius: 50px;
    padding: .4rem 1rem;
  }
  
  
  .section__popular--card-info,
  .section__popular--card-footer {
    display: flex;
    justify-content: space-between;
    place-items: center;
    padding: 0 1.2rem;
  }
  
  
  .section__popular--card-info h3,
  .section__popular--card-info span {
    font-size: 2.4rem;
    line-height: 3.6rem;
    font-weight: 600;
    letter-spacing: 0.04em;
    color: var(--orange-chestnut);
  }
  
  
  .section__popular--card-footer {
    padding-top: 1.2rem;
  }
  
  
  .section__popular--card-details p {
    font-size: 1.4rem;
    line-height: 2.1rem;
    font-weight: 600;
    letter-spacing: 0.04em;
    color: var(--gray-light);
  }
  
  .section__popular--card-tags {
    display: flex;
    gap: 1.2rem;
  }
  
  .section__popular--card-tags span {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 600;
    letter-spacing: 0.04em;
    text-align: center;
    padding: .4rem 1.6rem;
    color: var(--orange-tag);
    border: .2rem solid var(--orange-tag);
    transition: all .4s ease-in;
    border-radius: .8rem;
    cursor: pointer;
  }
  
  
  .section__popular--card-tags span:hover,
  .section__popular--card-tags span:focus,
  .section__popular--card-tags span.section__popular--card-tag-active {
    color: var(--orange-cafe);
    border: .2rem solid var(--orange-cafe);
    transition: all .4s ease-in;
  }
  
  
  
  .section__popular--card-buy {
    display: flex;
    place-content: center;
    place-items: center;
    width: 4rem;
    height: 4rem;
    background-color: var(--orange-cafe);
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .section__popular--card-buy svg path {
    stroke: #fff;
  }
  
  /* End Popular Section */
  
  
  
  
  
  
  
  
  
  
  /* Start Special Section */
  
  
  .section__special--container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 8rem 2rem;
  }
  
  
  .section__special--cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.2rem;
    padding: 4rem 4rem 8rem;
    position: relative;
    z-index: 3;
  }
  
  .section__special--cards .section__popular--card {
    filter: drop-shadow(0px 6px 16px rgba(0, 0, 0, 0.16));
  }
  
  .section__special--cards .section__popular--card::before {
    display: none;
  }
  
  
  
  
  
  
  
  /* End Special Section */
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  @media (min-width: 375px) {
 
  }
  
  @media (min-width: 400px) {
  
    /* Buttons */
  
    .btn__primary,
    .btn__secondary {
      font-size: 1.4rem;
      line-height: 2.1rem;
      padding: 1.2rem 3.2rem;
    }
  
    /* Buttons */
  
  
  }
  
  
  
  @media (min-width: 500px) {
  
  
  
  
  
  }
  
  
  
  
  @media (min-width: 700px) {
  
  }
  
  










  .section__popular--cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 4rem 0;
    position: relative;
    z-index: 3;
  }
  
  
  .section__popular--card {
    border-radius: 1.2rem;
    padding: 2.4rem 1.8rem;
    scroll-snap-align: center;
    background-color: #fff;
    position: relative;
    z-index: 1;
    filter: drop-shadow(4px 4px 20px rgba(0, 0, 0, 0.12));
  }
  
  
  .section__popular--card-picture {
    position: relative;
    padding-bottom: 1.2rem;
  }
  
  .section__popular--card-picture img {
    width: 100%;
    border-radius: 1.2rem;
  }
  
  .section__popular--card-score {
    /* padding: .6rem 1.2rem; */
    padding: 0.4rem;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.7) 0%,
      rgba(255, 255, 255, 0.4) 100%,
      rgba(255, 255, 255, 0.4) 100%
    );
    backdrop-filter: blur(2px);
    border-radius: 27px;
    position: absolute;
    top: 0.8rem;
    left: 1rem;
  }
  
  .section__popular--card-score span {
    display: inline-flex;
    font-size: 1.4rem;
    line-height: 2.1rem;
    font-weight: 700;
    letter-spacing: 0.04em;
    background: #ffffff;
    border-radius: 50px;
    padding: 0.4rem 1rem;
  }
  
  .section__popular--card-info,
  .section__popular--card-footer {
    display: flex;
    justify-content: space-between;
    place-items: center;
    gap: 1.2rem;
    padding: 0 1.2rem;
  }
  
  .section__popular--card-info h3,
  .section__popular--card-info span {
    font-size: 2.4rem;
    line-height: 3.6rem;
    font-weight: 600;
    letter-spacing: 0.04em;
    color: var(--orange-chestnut);
  }
  
  .section__popular--card-footer {
    padding-top: 1.2rem;
  }
  
  .section__popular--card-details p {
    font-size: 1.4rem;
    line-height: 2.1rem;
    font-weight: 600;
    letter-spacing: 0.04em;
    color: var(--gray-light);
  }
  
  .section__popular--card-tags {
    display: flex;
    gap: 1.2rem;
  }
  
  .section__popular--card-tags span {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 600;
    letter-spacing: 0.04em;
    text-align: center;
    padding: 0.4rem 1.6rem;
    color: var(--orange-tag);
    border: 0.2rem solid var(--orange-tag);
    transition: all 0.4s ease-in;
    border-radius: 0.8rem;
    cursor: pointer;
  }
  
  .section__popular--card-tags span:hover,
  .section__popular--card-tags span:focus,
  .section__popular--card-tags span.section__popular--card-tag-active {
    color: var(--orange-cafe);
    border: 0.2rem solid var(--orange-cafe);
    transition: all 0.4s ease-in;
  }
  
  .section__popular--card-buy {
    display: flex;
    place-content: center;
    place-items: center;
    min-width: 4rem;
    min-height: 4rem;
    max-width: 4rem;
    max-height: 4rem;
    background-color: var(--orange-cafe);
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .section__popular--card-buy svg path {
    stroke: #fff;
  }
  
  /* End Popular Section */
   
  .section__special--cards .section__popular--card {
    filter: drop-shadow(0px 6px 16px rgba(0, 0, 0, 0.16));
  }
  
  .section__special--cards .section__popular--card::before {
    display: none;
  }
  
  /* End Special Section */
  
  @media (min-width: 550px) {
  
  
    .section__popular--cards {
      grid-template-columns: repeat(2, 1fr);
    }
  
  
  }
  

  
  
  @media (min-width: 950px) {
  
  
    .section__popular--cards {
      grid-template-columns: repeat(3, 1fr);
    }
  
  
  }